/* 
.header-container {
    background-color: black;
    color: white;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.restaurant-name {
    font-weight: 900;
    margin-left: 5%;
    font-weight: bold;
}

.menu {
    display: inline-flex;
    margin-right: 0.5%;
}

.menu li {
    font-size: 14px;
    margin-right: 20px;
}

.hamburger-menu {
    display: none;
} */

.navbar-collapse {
    justify-content: flex-end;
    margin-right: 5%;
}

.navbar-brand {
    margin-left: 5%;
}
.banner-img {
    background-repeat: no-repeat;
    background-clip: content-box;
    background-color: black;
    background-position: center center;

    h2 {
        font-size: 36px;
        margin-top: 20px;
    }

    p {
        font-size: 16px;
        margin-bottom: 0;
    }
}

.banner-img-lg {
    height: 460px;
    background-image: url(../../../assets/img/session10-homework/header_desktop.png);
    .test {
        background-color: rgba(0, 0, 0, 0.4);
        color: rgb(8, 3, 3);
        color: white;
        width: 460px;
        height: 152px;
        padding: 0;
    
    }
 
}

.banner-img-sm {
    height: 364px;
    background-image: url(../../../assets/img/session10-homework/header_mobile.png);
    .test {
        background-color: rgba(0, 0, 0, 0.4);
        color: rgb(8, 3, 3);
        color: white;
        width: 300px;
        height: 194px;
        padding: 0;
    }
}