<!-- <div class="header-container">
    <h1 class="restaurant-name">六角西餐廳</h1> 
    <ul class="menu">
        <li>特色</li>
        <li>主廚</li>
        <li>地圖</li>
    </ul>
</div> -->

<div class="container-lg">
    <div class="row">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <a class="navbar-brand">六角西餐廳</a>
        
            <button class="navbar-toggler" type="button" (click)="navbarCollapsed = !navbarCollapsed"
                [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarNav" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="navbar-collapse" id="navbarNav" [ngbCollapse]="navbarCollapsed">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link">特色</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">主廚</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">地圖</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="position-relative">
        <div class="row d-block d-sm-none banner-img banner-img-sm">
            <div class="position-absolute top-50 start-50 translate-middle text-center test">
                <h2>咬一口</h2>
                <h2>就無法忘懷的漢堡</h2>
                <p>七夕絕對無法錯過的好滋味</p>
                <p>
                    <fa-icon [icon]="faSpoon" size="xs"></fa-icon>
                    六角大漢堡
                    <fa-icon [icon]="faSpoon" size="xs"></fa-icon>
                </p>
            </div>
        </div>
    </div>
    
    <div class="position-relative">
        <div class="row d-none d-lg-block banner-img banner-img-lg">
            <div class="position-absolute top-50 start-50 translate-middle text-center test">
                <h2 class="">咬一口就無法忘懷的漢堡</h2>
                <p>七夕絕對無法錯過的好滋味</p>
                <p>
                    <fa-icon [icon]="faSpoon" size="xs"></fa-icon>
                    六角大漢堡
                    <fa-icon [icon]="faSpoon" size="xs"></fa-icon>
                </p>
            </div>
        </div>
    </div>
</div>