.banner-img {
    background-repeat: no-repeat;
    background-clip: content-box;
    background-color: black;
    background-position: center center;

    h2 {
        font-size: 36px;
        margin-top: 20px;
    }

    p {
        font-size: 16px;
        margin-bottom: 0;
    }
}

.banner-img-lg {
    height: 460px;
    background-image: url(../../assets/img/session10-homework/header_desktop.png);
    .test {
        background-color: rgba(0, 0, 0, 0.4);
        color: rgb(8, 3, 3);
        color: white;
        width: 460px;
        height: 152px;
        padding: 0;
    
    }
 
}

.banner-img-sm {
    height: 364px;
    background-image: url(../../assets/img/session10-homework/header_mobile.png);
    .test {
        background-color: rgba(0, 0, 0, 0.4);
        color: rgb(8, 3, 3);
        color: white;
        width: 300px;
        height: 194px;
        padding: 0;
    }
}

.feature-bg-color {
    background-color: #f0ede8;
}

.feature {
    align-items: center;

    p {
        font-size: 20px;
        margin-bottom: 0px;
    }

    .spacing {
        height: 30px;
    }
}

.card-group {
    padding: 0;
}

.card {
    border-color: #f0ede8;
    img {
        border-radius: 50%;
        max-width: 60%;
    }
}

.card-title {
    font-size: 18px;
}

.card-text {
    text-align: left;
    font-size: 16px;
}

.chef {
    background-color: #3D1101;

    img {
        max-width: 100%;
    }
    article {
        color: white;

        h6 {
            margin-top: 80px;
        }

        p {
            font-size: 16px;
        }
    }
}

.review {
     h4 {
        margin: 50px 0 32px 0;
    }
    img {
        border-radius: 50%;
        max-width: 65%;
    }
    .card-title {
        font-size: 18px;
    }
    
    .card-body {
        h5 {
            margin-top: 5px;
        }
    }
}

.location {
    background-color: #faf2ec;
    input {
        height: 32px;
    }

    .map {
        background-image: url(../../assets/img/session10-homework/Map.png);
        background-repeat: no-repeat;
        background-clip: content-box;
        height: 386px;
        width: auto;
    }

    .spacing {
        margin-top: 50px;
    }

}

/*  banner start */
/* .banner {
    background-image: url(../../assets/img/session10-homework/header_desktop.png);
    background-repeat: no-repeat;
    background-color: black;
    background-position:center center;
    height: 300px;
    position: relative;
}

.slogan {
    width: 450px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    position: absolute;
    top: 20%;
    left: 30%;
    text-align: center;
}

.slogan h1 {
    font-size: 33px;
    margin: 20px 10px 20px;
    text-align: center;
}

.slogan p {
    font-size: 15px;
    margin-top: 5px;
} */

/*  banner end */

/*  description start */
/* .description {
    background-color: #f0ede8;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.description div{
    background-color: #f0ede8;
    display: flex; 
    flex-direction: column; 
    text-align: center;
    align-items: center;
    justify-content: center; 
}

.description div p {
    font-size: 16px;
    margin-top: 8px;
    color: rgb(102, 54, 54);
}

.description div hr{
    width: 100px;
    border: 1px solid rgba(156, 154, 154, 0.842);
} */
/*  description end */

/*  feature start */
/* .feature {
    background-color: #f0ede8;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 50px;
}

.item {
    text-align: center;
    max-width: 33.33333%;
}

.item img {
    border-radius: 50%;
}

.item h6 {
    margin-top: 25px;
}

.item p {
    margin-top: 8%;
    margin-left: 10%;
    max-width: 80%;
    text-align: left;
} */
/*  feature end */

/*  banner start */
/* .banner-mid-container {
    background-color: #3D1101;
    display: flex;
}

.banner-mid-container div{
    margin-left: 4%;
    max-width: 50%;
    color:  white;
}

.banner-mid-content {
    max-width: 85%;
    margin-top: 80px;
    margin-right: 15px;
}

.banner-mid-content p {
    margin-top: 30px;
} */
/*  banner end */

/*  review start */
/* .review {
    background-color: #f0ede8;
    display: flex;
    flex-direction: column;  
    align-items: center;  
    padding-top: 40px;
    padding-bottom: 10px;
    color: #3D1101;
}

.review-item img {
    border-radius: 50%;
}

.review .review-items {
    display: flex;
    justify-content: center;
    width: 100%; 
    margin-top: 25px;
}

.review-items .review-item {
    max-width: 33.33333%;
    display: flex;
    margin-left: 30px;
}

.review-item .review-item-content {
    align-items: center;  
}

.review-item-content:first-child {
    flex: 1;  
}

.review-item-content:last-child {
    flex: 3; 
}

.review-item-content:last-child article * {
    margin: 30px 0 20px 10px;
    color: #3D1101;
    font-size: 16px;
}

.review-item-content:last-child article h6 {
   font-size: 18px;
}

.review-item-content article p:last-child {
    text-align: end;
    color: rgba(61,17,0,0.75);
} */

/*  review end */

/*  map start */
/* .map-container {
    background-color: #faf2ec;
    display: flex;
    flex-direction: column;  
    padding-bottom: 30px;
}

.map-header {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.map-content {
    display: flex;
}

.map-content div:first-child {
    max-width: 100%;
    margin-left: 5%;
}

.map-content div:last-child {
    max-width: 100%;
    margin-left: 20px;
    margin-right: 5%;
}

.map-content div:last-child table {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.map-content div:last-child table > tr {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

input[type="checkbox"] {
    margin-right: 65px;
}

.button-container {
    text-align: right;
}

.button-container button {
    margin-left: 10px;
} */

/*  map end */
