<app-header></app-header>

<div class="container">
    <div class="row justify-content-lg-center text-center feature-bg-color feature">

        <div class="col-lg-12 spacing"></div>
        <hr class="col-lg-2 d-none d-lg-block" />
        <div class="col-sm-4 col-lg-3 text-center">
            <p>客人總是在詢問</p>
            <p>這麼好吃的秘訣是什麼</p>
        </div>
        <hr class="col-lg-2 d-none d-lg-block" />
        <div class="col-lg-12 spacing"></div>

        <div class="card-group">
            <div class="card feature-bg-color ">
                <div class="justify-content-center">
                    <img src="../../assets/img/session10-homework/feature_1.png">
                </div>
                <div class="card-body">
                    <h5 class="card-title">台灣本土蔬菜</h5>
                    <p class="card-text">In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat
                        aliquam.
                        Integer et elit eget
                        elit facilisis tristique. Nam vel iaculis mauris.</p>
                </div>
            </div>
            <div class="card feature-bg-color">
                <div class="justify-content-center">
                    <img src="../../assets/img/session10-homework/feature_2.png">
                </div>
                <div class="card-body">
                    <h5 class="card-title">專業米其林廚師</h5>
                    <p class="card-text">Sed ullamcorper tellus erat, non ultrices sem tincidunt euismod. Fusce rhoncus
                        porttitor velit, eu bibendum
                        nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis, facilisis accumsan turpis.</p>
                </div>
            </div>
            <div class="card feature-bg-color">
                <div class="justify-content-center">
                    <img src="../../assets/img/session10-homework/feature_3.png">
                </div>
                <div class="card-body">
                    <h5 class="card-title">對於專業不能退讓</h5>
                    <p class="card-text">
                    <p>Fusce rhoncus porttitor velit, eu bibendum nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis,
                        facilisis accumsan turpis.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row chef">
        <div class="col-lg-6 col-sm-12">
            <img src="../../assets/img/session10-homework/main_chef_brown.png" alt="look what">
        </div>
        <div class="col-lg-6 col-sm-12">
            <article>
                <h6>今日主廚：帕金森、梅在帕</h6>
                <p>Tody Chef: Plum in Shock</p>  
                <p>
                    Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit,
                    elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien.
                    Pellentesque orci lectus, consectetur vel posuere posuere, rutrum eu ipsum. Aliquam eget odio sed ligula iaculis
                    consequat at eget orci. Mauris molestie sit amet metus mattis varius. Donec sit amet ligula eget nisi sodales
                    egestas. Aliquam interdum dolor aliquet dolor sollicitudin fermentum. Donec congue lorem a molestie bibendum.
                </p>
            </article>
        </div>
    </div>

    <div class="row text-center feature-bg-color review">
        
        <h4 class="col-lg-12 col-12">聽聽別人的感想</h4>

        <div class="card-group ">
            <div class="card mb-3 feature-bg-color" >
                <div class="row g-0">
                    <div class="col-lg-4 col-3 text-end">
                        <img src="../../assets/img/session10-homework/avatar_1.png">
                    </div>
                    <div class="col-lg-8 col-8">
                        <div class="card-body">
                            <h5 class="card-title text-start">高雄一口吃</h5>
                            <p class="card-text">自從吃了這家餐廳以後，我口水連續流了一個多月都沒停，下次不要再被我遇到，不然我一定連他們桌子都啃下去。</p>
                            <p class="card-text text-end"><small class="text-muted"> -- 產品經理</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 feature-bg-color" >
                <div class="row g-0">
                    <div class="col-lg-4 col-3 text-end">
                        <img src="../../assets/img/session10-homework/avatar_2.png">
                    </div>
                    <div class="col-lg-8  col-8">
                        <div class="card-body">
                            <h5 class="card-title text-start">廟口小霸王</h5>
                            <p class="card-text">自從吃了這家餐廳以後，我口水連續流了一個多月都沒停，下次不要再被我遇到，不然我一定連他們桌子都啃下去。</p>
                            <p class="card-text text-end"><small class="text-muted"> -- 金身道士</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 feature-bg-color" >
                <div class="row g-0">
                    <div class="col-lg-4 col-3 text-end">
                        <img src="../../assets/img/session10-homework/avatar_3.png">
                    </div>
                    <div class="col-lg-8  col-8">
                        <div class="card-body">
                            <h5 class="card-title  text-start">廟口小霸王</h5>
                            <p class="card-text">自從吃了這家餐廳以後，我口水連續流了一個多月都沒停，下次不要再被我遇到，不然我一定連他們桌子都啃下去。</p>
                            <p class="card-text"><small class="text-muted"> -- 美麗萬分</small></p>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>

    
    <div class="row location ">

        <div class="col-lg-12 col-sm-12 text-center">
            <div class="col-lg-12 col-sm-12 spacing "></div>
            <h5>我們的位置不太夠坐</h5>
            <h5>要不要先定位呢？</h5>
            <div class="col-lg-12 col-sm-12 spacing "></div>
        </div>
    
        <div class="col-lg-6 col-sm-12">
            <div class="map"></div>
        </div>
    
        <div class="col-lg-6 col-sm-12 form">
            <div class="lg-3">
                <label for="formGroupExampleInput" class="form-label">姓名</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="六角講師吃尾牙">
            </div>
            <div class="lg-3">
                <label for="formGroupExampleInput2" class="form-label">電話</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="02-1234567">
            </div>
            <div class="lg-3">
                <label for="formGroupExampleInput2" class="form-label">信箱</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="test@gmail.com">
            </div>
            <div class="lg-3">
                <label for="formGroupExampleInput2" class="form-label">人數</label>
                <input type="text" class="form-control" id="formGroupExampleInput2">
            </div>

            <p for="formGroupExampleInput2" class="form-label">是否需要素食</p>
            <div class="form-check form-check-inline">
                <label class="form-check-label" for="flexRadioDefault1">
                    是
                </label>
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label" for="flexRadioDefault2">
                    否
                </label>
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            </div>

            <div class="d-lg-flex d-flex justify-content-lg-end justify-content-end">
                <button class="btn btn-secondary btn-sm me-2" type="button">取消</button>
                <button class="btn btn-warning btn-sm" type="button">送出</button>
            </div>
        </div>

        <div class="col-lg-12 col-sm-12 spacing "></div>
    </div>
</div>

<!-- <div class="container">

    <div class="banner">
        <div class="slogan">
            <h1>咬一口就無法忘懷的漢堡</h1>
            <p>七夕絕對無法錯過的好滋味</p>
            <p> 
                <fa-icon [icon]="faSpoon" size="xs"></fa-icon>
                六角大漢堡
                <fa-icon [icon]="faSpoon" size="xs"></fa-icon>
            </p>
        </div>
    </div>
    
    <div class="description">
        <div> <hr /></div>
        <div>
            <p>客人總是在詢問</p>
            <p>這麼好吃的秘訣是什麼</p>
        </div>
        <div><hr /></div>
    </div>
    
    <div class="feature">
        <div class="item">
            <img src="../../assets/img/session10-homework/feature_1.png">
            <h6>台灣本土蔬菜</h6>
            <p>In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris.</p>
        </div>
        <div class="item">
            <img src="../../assets/img/session10-homework/feature_2.png">
            <h6>專業米其林廚師</h6>
            <p>Sed ullamcorper tellus erat, non ultrices sem tincidunt euismod. Fusce rhoncus porttitor velit, eu bibendum nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis, facilisis accumsan turpis.</p>
        </div>
        <div class="item">
            <img src="../../assets/img/session10-homework/feature_3.png">
            <h6>對於專業不能退讓</h6>
            <p>Fusce rhoncus porttitor velit, eu bibendum nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis, facilisis accumsan turpis.</p>
        </div>
    </div>

    <div class="banner-mid-container">
        <div>
            <img src="../../assets/img/session10-homework/main_chef_brown.png" alt="look what">
        </div>
        <div>
            <article class="banner-mid-content">
                <h5>今日主廚：帕金森、梅在帕</h5>
                <h6>Tody Chef: Plum in Shock</h6>  
                <p>
                    Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit,
                    elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien.
                    Pellentesque orci lectus, consectetur vel posuere posuere, rutrum eu ipsum. Aliquam eget odio sed ligula iaculis
                    consequat at eget orci. Mauris molestie sit amet metus mattis varius. Donec sit amet ligula eget nisi sodales
                    egestas. Aliquam interdum dolor aliquet dolor sollicitudin fermentum. Donec congue lorem a molestie bibendum.
                </p>
            </article>
        </div>
    </div>

    <div class="review">
        
        <div>
            <h5>聽聽別人的感想</h5>
        </div>

        <div class="review-items">
            <div class="review-item">
                <div class="review-item-content">
                    <img src="../../assets/img/session10-homework/avatar_1.png">
                </div>
                <div class="review-item-content">
                    <article>
                        <h6>高雄一口吃</h6>
                        <p>自從吃了這家餐廳以後，我口水連續流了一個多月都沒停，下次不要再被我遇到，不然我一定連他們桌子都啃下去。</p>
                        <p> -- 產品經理</p>
                    </article>
                </div>
            </div>

            <div class="review-item">
                <div class="review-item-content">
                    <img src="../../assets/img/session10-homework/avatar_2.png">
                </div>
                <div class="review-item-content">
                    <article>
                        <h6>廟口小霸王</h6>
                        <p>自從吃了這家餐廳以後，我口水連續流了一個多月都沒停，下次不要再被我遇到，不然我一定連他們桌子都啃下去。</p>
                        <p> -- 金身道士</p>
                    </article>
                </div>
            </div>

            <div class="review-item">
                <div class="review-item-content">
                    <img src="../../assets/img/session10-homework/avatar_3.png">
                </div>
                <div class="review-item-content">
                    <article>
                        <h6>春天也來了</h6>
                        <p>自從吃了這家餐廳以後，我口水連續流了一個多月都沒停，下次不要再被我遇到，不然我一定連他們桌子都啃下去。</p>
                        <p> -- 美麗萬分</p>
                    </article>
                </div>
            </div>
        </div>

    </div>
    
    <div class="map-container">
    
        <div class="map-header">
            <h5>我們的位置不太夠坐</h5>
            <h5>要不要先定位呢？</h5>
        </div>

        <div>
            <div class="map-content">
                <div>
                    <img src="../../assets/img/session10-homework/Map.png">
                </div>
        
                <div>
                    <table>
                        <tr>
                            <td>姓名</td>
                            <td><input type="text" size="50"></td>
                        </tr>
                        <tr>
                            <td>電話</td>
                            <td> <input type="text" size="50"></td>
                        </tr>
                        <tr>
                            <td>信箱</td>
                            <td> <input type="text" size="50"></td>
                        </tr>
                        <tr>
                            <td>人數</td>
                            <td> <input type="text" size="50"></td>
                        </tr>
                        <tr>
                            <td>是否需要素食</td>
                            <td> 
                                <label for="yes">是</label>
                                <input type="checkbox" id="yes" />
                                <label for="no">否</label>
                                <input type="checkbox" id="no" />
                            </td> 
                        </tr>
                        <tr>
                            <td class="button-container"> 
                                <button type="button"> 取消 </button>
                                <button type="button"> 確定 </button>
                            </td>  
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> -->

<app-footer></app-footer>
