<ul>
    <li><a routerLink="/css3-media-query" routerLinkActive="active" ariaCurrentWhenActive="page">css3-media-query</a></li>
    <li><a routerLink="/session2-homework">session2-homework</a></li>
    <li><a routerLink="/session10-homework">session10-homework - welcome</a></li>
    <li><a routerLink="/session10-homework-cart">session10-homework - cart</a></li>
</ul>
<router-outlet></router-outlet>