ol, li {
	list-style: disc;
}

.footer-bg-color {
    background-color: #f0ede8;
}

h5 {
    margin-bottom: 20px;
}
.spacing {
    height: 50px;
}

.icon {
    margin-top: 22px;
}
.google-icon {
    color: #DB4437;
}

.x-icon {
    color: #41ABE1;
}

.fb-icon {
    color: #3A5795;
}
