<div class="container">
    <div class="row footer-bg-color">
        <div class="col-lg-12 spacing"></div>
        <div class="offset-lg-1 col-lg-3 text-left">
            <h5>關於 六角西餐廳</h5>
            <article class="text-start">
                <p>
                    Curabitur lobortis id lorem id bibndum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. 
                </p>
            </article>
        </div>
        <div class="col-lg-4">
            <h5>聯絡方式</h5> 
            <ol>
                <li>高雄市中正五路到底</li>
                <li>+886 886 886</li>
                <li>service@hexschool.com</li>
            </ol>
        </div>
        <div class="col-lg-3 text-end">
            <img src="../../../assets/img/session10-homework/logo_l@svg.svg" />
            <div class="icon">
                <span>
                    <fa-icon class="google-icon me-2" [icon]="faSquareGooglePlus" size="2x"></fa-icon>
                </span>
                <span>
                    <fa-icon class="x-icon me-2" [icon]="faSquareTwitter" size="2x"></fa-icon>
                </span>
                <span>
                    <fa-icon class="fb-icon" [icon]="faSquareFacebook" size="2x"></fa-icon>
                </span>
            </div>
        </div>
        <div class="col-lg-12 spacing"></div>
    </div>
</div>
