.wrapper {
    display: flex;
    max-width: 1000px;
    margin: auto;
}

.social-media {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: lightgray;
}

.social-media li{
    display: inline;
    justify-content: space-between;
    margin-right: 20px;
}

.header{
    max-width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.header img{
  margin-left: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    align-items: center;
    margin: 15px 0;
}

.menu ul li {
    color:  #00d2a3;
    display:inline;
    margin-right: 20px;
}

.content {
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
}

.item {
    align-items: center;
    justify-content: center;
    max-width: 33.33333%;
    margin: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius:3px;
}
.item h3 {
    text-align:center;
}
.item img {
    margin: auto;
    display: block;
    width: 65%;
}
.item p {
    max-width: 100%;
    text-align:center;
}

@media (max-width: 768px) {
    .header {
        justify-content: center;
        height: auto;
    }

    .header img {
        display: none;
    }

    .menu ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu ul li {
        width: 30%;
    }

    .content {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    .item {
       max-width: 90%;
    }
}