<!-- 
    作業規範 
    - 先從 PC 開始再依序做到 Mobile
    - PC 寬度 1000 px
    - 表頭選單在 767px 後變成 2*2 選單排列
    - 課程列表在 1000px 以下時也能自適應， 767px 後變成單欄式排版
 -->

<div class="wrap">
    <div class="social-media">
        <ul>
            <li> <img src="../../assets/img/session2-homework/fb.png" alt=""> 粉絲團</li>
            <li> <img src="../../assets/img/session2-homework/twitter.png" alt=""> 追隨我們</li>
        </ul>
    </div>
    <div class="header">
        <div class="logo">
            <img src="../../assets/img/session2-homework/logo.png" alt="">
        </div>
        <div class="menu">
            <ul>
                <li>首頁</li>
                <li>課程介紹</li>
                <li>部落格</li>
                <li>聯絡我們</li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="item">
            <img src="../../assets/img/session2-homework/feature-html5.png">
            <h3>HTML 5 基礎教學</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus aut tenetur quisquam modi quod delectus, nisi, maiores recusandae adipisci neque dolorum. Perferendis dicta fuga illo facere est, nam accusantium voluptates?</p>
        </div>
        <div class="item">
            <img src="../../assets/img/session2-homework/feature-rwd.png">
            <h3>響應式網站設計</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus aut tenetur quisquam modi quod delectus, nisi, maiores recusandae adipisci neque dolorum. Perferendis dicta fuga illo facere est, nam accusantium voluptates?</p>
        </div>
        <div class="item">
            <img src="../../assets/img/session2-homework/feature-jquery.png">
            <h3>jQuery 實戰教學</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus aut tenetur quisquam modi quod delectus, nisi, maiores recusandae adipisci neque dolorum. Perferendis dicta fuga illo facere est, nam accusantium voluptates?</p>
        </div>
    </div>
</div>
