/*先寫PC版型，再依序往下寫響應式設計 start*/
.title {
    color: red;
}

.content {
    color: black;
}

/*在 ipad 直式下變更樣式*/
@media(max-width:768px) {
    .title {
        color: blue;
    }

    .content {
        font-size: 30px;
    }
}

/*在 iPhone6 直式下變更樣式 */
@media(max-width:375px) {
    .title {
        color: green;
    }
}
/*先寫PC版型，再依序往下寫響應式設計 end*/
/* ---------------------------------------- */

/*先寫手機，再依序往下寫響應式設計 start*/
/* .title {
    color: red;
}

.content {
    color: black;
} */

/* @media(min-width:375px) {
    .title {
        color: blue;
    }

    .content {
        font-size: 30px;
    }
} */
/*先寫手機，再依序往下寫響應式設計 end*/