<app-header></app-header>
<div class="container">
    <div class="row mt-5">
        
        <div class="col-lg-2 ps-0 pe-0 sidebar">
            <span>  
                <fa-icon class="fb-icon" [icon]="faLeaf" size="lg"></fa-icon>  
                線上訂購美食 
            </span>
           
            <ul class="nav flex-column p-0 mt-3">
                <li class="nav-item mt-1">
                    <a class="nav-link active" aria-current="page" href="#">全部
                        <hr class="m-0" />
                    </a>
                </li>
                <li class="nav-item mt-1">
                    <a class="nav-link" href="#">只愛吃薯條 (18)
                        <hr class="m-0" />
                    </a>
            
                </li>
                <li class="nav-item mt-1">
                    <a class="nav-link" href="#">加熱就可食 (1)
                        <hr class="m-0" />
                    </a>
                </li>
                <li class="nav-item mt-1">
                    <a class="nav-link" href="#">不敗漢堡系列 (4)
                        <hr class="m-0" />
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-lg-10 ps-3">
            <div class="row mb-3">
                <div class="col-lg-8 col-sm-12">
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="Recipient's username"
                            aria-describedby="basic-addon" >
                        <span class="input-group-text " id="basic-addon">
                            <fa-icon class="search-icon" [icon]="faSearch" ></fa-icon>
                        </span>
                    </div>
                </div>
        
                <div class="offset-lg-1 col-lg-2 pe-0 m-0 text-end col-9">
                    <h2>結帳 |</h2>
                </div>
        
                <div class="col-lg-1 col-3">
                    <button type="button" class="btn position-relative mt-1 p-0">
                        <fa-icon class="search-icon" [icon]="faCartPlus" size="xl"></fa-icon>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            1
                        </span>
                    </button>
                </div>
            </div>
        
            <div class="row g-0 menu" >
                <div class="card me-2 mb-4 border-light">
                    <img src="../../assets/img/session10-homework/product_1.png" class="card-img-top" alt="...">
                    <!-- <div class="card-img-overlay p-2">
                        <fa-icon class="heart-icon" [icon]="faHeart" size="lg"></fa-icon>
                        <div class="cool"> </div>
                    </div> -->

                    <div class="card-body text-center">
                        <h5 class="card-title">經典漢堡套餐</h5>
                        <p class="card-text">Classic Hamburger Package</p>
                        <hr/> 
                        <i class="price">$120 </i>
                    </div>

                    <div class="text-center mb-2">
                        <button type="button" class="cart-btn">
                            <fa-icon class="search-icon" [icon]="faCartPlus" size="sm"></fa-icon> 加入購物車
                        </button>
                    </div>
                </div> 
                <div class="card me-2 mb-4" >
                    <img src="../../assets/img/session10-homework/product_2.png" class="card-img-top" alt="...">
                    <div class="card-img-overlay p-2">
                        <fa-icon class="heart-icon" [icon]="faHeart" size="lg"></fa-icon>
                    </div>
                    <div class="card-body text-center" >
                        <h5 class="card-title">英俊香腸</h5>
                        <p class="card-text">Handsome Sausage</p>
                        <hr/> 
                        <i class="card-text">$1,024 </i>
                    </div>
                    <div class="card-footer text-center">
                        <small >加入購物車</small>
                    </div>
                </div>
                <div class="card me-2 mb-4">
                    <img src="../../assets/img/session10-homework/product_3.png" class="card-img-top" alt="...">
                    <div class="card-img-overlay p-2">
                        <fa-icon class="heart-icon" [icon]="faHeart" size="lg"></fa-icon>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">漢堡兄弟</h5>
                        <p class="card-text">Hamburg Brothers</p>
                        <hr/> 
                        <i class="card-text">$792 </i>
                    </div>
                    <div class="card-footer text-center">
                        <small class="text-muted">加入購物車</small>
                    </div>
                </div>
                <div class="card me-2 mb-4">
                    <img src="../../assets/img/session10-homework/product_4.png" class="card-img-top" alt="...">
                    <div class="card-img-overlay p-2">
                        <fa-icon class="heart-icon" [icon]="faHeart" size="lg"></fa-icon>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">完美願望</h5>
                        <p class="card-text">Dragon Ball Package</p>
                        <hr/> 
                        <i class="card-text">$999,999</i>
                    </div>
                    <div class="card-footer text-center">
                        <small class="text-muted">加入購物車</small>
                    </div>
                </div>
            </div>
        
        </div>
        
    </div>
</div>
<app-footer></app-footer>

