img {
    max-width: 100%;
}

.sidebar {
    font-size: 20px;
    li a {
        font-size: 16px;
        padding: 0;
        height: 35px;
    }
}

.search-icon {
    color: black;
}

.card {
    max-width: 31%;
    border-radius: 0;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.05);
    height: 100%;
    .card-text {
       font-size: 12px;
    }

    .price {
        font-size: 20px;
    }    

    .cart-btn {
        width: 85%;
        color: #FF5E45;
        border: 1px solid #FF5E45;

        .search-icon {
            color: #FF5E45;;
        }
    }
}

.card-img-top {
    border-radius: 0;
    max-width: 100%;
    max-height: 100%;
}

.heart-icon {
    color: white;
}

.menu {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 376px) {
    .menu {
        display: flex;
        flex-direction: column;
    }
    
    .card {
        max-width: 100%;
    }
 
}

